page-set-needle-one {

}
.set-one-content{
    background:#35464b;
    color:#fff;
}
.set-one-content h5{
    margin:20% auto 10%;
}
.set-one-content .start-btn{
    display:block;
    margin:10% auto 0;
}
