page-history {

}
.history-content{
    background:#048fb6;
    color:#fff;
}
.history-content .title{
    position:absolute;
    top:15px;
    left:50%;
    margin-left:-20px;
    font-size:18px;
}
.history-content .toolbar-background-ios{
    background:transparent;
}
.history-content .step-title{
    margin-top:2.7rem!important;
}
