page-signup {

}
.sign_content{
    background:linear-gradient(rgb(31,160,138),rgb(88,141,174))
}
.sign_content .sign_img{
    width:50%;
    display:block;
    margin:5% auto 10%;
    border-radius:50%;
    overflow:hidden;
}
.sign_content ion-item{
    background:transparent;
    color:#fff;
}
