page-myfile {

}
.myfile_content{
    background:#0294c5;
    color:#fff;
}
.myfile-content .toolbar-ios{
  padding:10px;
}
.myfile_content .toggle,.myfile_content .done{
    position:absolute;
}
.myfile_content ion-item{
    background:#0294c5;
    color:#fff;
}
.myfile_content .done{
    top:10px;
    right:10px;
    padding:0.5em;
    font-size:1.2em;
}
